*{
    margin: 0;
    padding: 0;
    line-height: 1.1;
}
a:hover
{
    color: white;
    text-decoration: none;
}
.all
{
    background-color: #9e9e9e52;
    min-width: 1532px;
    width: 100%;
}
.top
{
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
}
.top>div
{
    display: inline-block;
}
.top_suer:hover .suername_hidden
{
    display: block;
}
.top_suer_name
{
    margin: 0 100px;
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #9E9E9E;
}
.suername_hidden
{
    display: none;
    background-color: white;
    position: absolute;
    right: 80px;
    top: 51px;
    padding: 0 20px ;
    border: #4e555b;
    text-align: center;
}
.suername_hidden>a
{
    text-decoration: none;
    color: #1d2124;
    display: block;
    padding:15px 0;
}
.suername_information_hidden
{
    border-bottom: 1px solid #9E9E9E;
}
.bottom>div
{
    display: inline-block;
    vertical-align: top;
}
.left
{
    width: 200px;
    height: 710px;
    background-color: black;
}
.left>a
{
    display: block;
    text-decoration: none;
}
.left_font:hover
{
    color: white;
    text-decoration: none;
}
.left_font
{
    width: 80%;
    padding: 20px 10%;
    color:#adb5bd;
    box-sizing: content-box;
}
.right img
{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
}
.right
{
    width: 80%;
    height: 580px;
    padding: 50px 50px;
    background-color: white;
    margin-top: 20px;
}
.right_top
{
    width: 100%;
    font-size: 30px;
    height: 50px;
    padding-left: 1%;
    background-color: black;
    color: white;
    line-height: 50px;
    padding-top: 5px;
}
.suer_right_bottom
{
    padding: 50px;
    position: relative;
}
.information
{
    margin: 15px 0 ;
    font-size: 21px;
}
.revise_information
{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #5493ad;
    float: right;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 110px;
    margin-right: 20px;
}
.revise_information_hidden
{
    width: 20%;
    height: 360px;
    background-color: #fffcfc;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 200px 40%;
    opacity:0.9;
}
.define
{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #5493ad;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.no
{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #5493ad;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.alter_out
{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #5493ad;
    float: right;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.alter_define
{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #5493ad;
    float: right;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.food_tbody tr
{
    height: 70px;
}
.hidden
{
    background-color: #fffcfc;
    position: absolute;
    z-index: 1;
    padding: 200px 39%;
    opacity:0.9
}
.hidden span
{
    display: inline-block;
    min-width: 95px;
}
.food_hidden
{
    display: none;
}
.alter_hidden
{
    display: none;
}
.page
{
    float: right;
    width: auto;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size:0;
}
.page li{
    font-size:14px;
    display: inline-block;
    margin-right:10px;
    text-align: center;
    width:30px;
    height:28px;
    line-height: 28px;
    border:1px solid #ddd;
}
.page [disabled]{
    color:gray;
}
.page li:not([disabled]):hover {
    cursor: pointer;
    color: #fff;
    background-color: #009688;
}
.page li.jump
{
    width: auto;
}
.page li.jump .entrance {
    border: 1px solid #ddd;
    text-align: center;
    width: 30px;
    height: 28px;
}
.order_alter_hidden
{
    padding: 250px 38.7%;
}
.order_alter_hidden span
{
    width: 105px;
}
.order_alter_hidden div
{
    width: 350px;
}
.order_hidden span
{
    width: 105px;
}
.order_hidden div
{
    width: 350px;
}
.order_hidden
{
    display: none;
    padding: 260px 38.7%;
}